body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* text-align: center; */
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
}

#outputTemp, #outputWindSpeed, #outputRainFall  {
    font-size: 190%;
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
}

#weatherContainer{
    width: 40%;
    height: 5%;
    border: black 5px solid;
    border-radius: 15px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.692), 0 6px 20px 0 rgba(255, 255, 255, 0.295);
    margin-left: 3%;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    /* margin: 3% 0 0 18%; */
    /*margin: 7%;*/
}

#location span{
    font-size: 70%;
}
#location{
    font-size: 300%;
    text-shadow: 2px 2px 4px #000000;
}

#tempContainer #sunIcon, #outputTemp{
    display:inline-block;
    margin-top: -10%;
    float: right;
    margin-left: 3%;
}

#windContainer #windIcon, #outputWindSpeed{
    display:inline-block;
}

#rainFallContainer #rainIcon, #outputRainFall{
    display:inline-block;
    margin-top: -2%;
}

#sunIcon, #windIcon, #rainIcon{
    font-size: 300%;
    text-shadow: 2px 2px 4px #000000;
}

#sunIcon, #outputTemp{
    font-size: 500% !important;
}

#sunIcon{
    color: #ffff99;
}

#windIcon, #rainIcon{
    color: #cccccc;
    margin-right: 3%;
}
/*
#imgTemp {
    float: left;
    width: 10%;
}

#imgWind {
    float: left;
    width: 10%;
}

#imgRain {
    float: left;
    width: 10%;
}

#imgTemp, #imgWind, #imgRain{
    margin: 3% 0% 0% 15%;
    padding: 3%;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.692), 0 6px 20px 0 rgba(17, 17, 17, 0.295);
}  */

