body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
}

#outputTemp, #outputWindSpeed, #outputRainFall  {
    font-size: 190%;
    z-index: 1;
}

#weatherContainer{
    width: 30%;
    background-color: red;
    /*margin: 7%;*/
}

#location span{
    font-size: 100%;
}
#location{
    font-size: 250%;
}

/* #tempContainer{
    width: 300px;
    background-color: blue;
} */
#tempContainer #imgTemp, #outputTemp{
    display:inline-block;
}
#imgTemp {
    float: left;
    width: 10%;
    margin-right: 0%;
    margin-left: 5%;
}

#windContainer #imgWind, #outputWindSpeed{
    display:inline-block;
}
#imgWind {
    float: left;
    width: 10%;
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 5%;
}

#rainFallContainer #imgRain, #outputRainFall{
    display:inline-block;
}
#imgRain {
    float: left;
    width: 10%;
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 5%;
 }

